![](../img/banner_day1.png)

<br>

# 1일차 실습(3) - 판다스(Pandas)

<br>
<br>
<div align='right'>강사 성민석</div>
<div align='right'>고려대학교 인공지능학과 박사과정</div>
<div align='right'>(minsuksung@korea.ac.kr)</div>

> <font color='red'><b>WARNING</b></font>: 본 컨텐츠는 **[저작권법 제25조 제2항](https://glaw.scourt.go.kr/wsjo/lawod/sjo192.do?contId=2135829&jomunNo=25)** 에 의해 강의 목적으로 이용한 저작물이 포함되어 있습니다.  
> 해당 자료를 제작자의 동의없이 <font color='red'><b>외부에 임의로 공개 및 수정하는 것을 금지</b></font>하며 이를 위반하는 경우 저작권 침해로서 관련법에 따라 처벌될 수 있으니 주의해주시기 바랍니다.

<h1>목차<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Pandas-불러오기" data-toc-modified-id="Pandas-불러오기-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Pandas 불러오기</a></span></li><li><span><a href="#Series-&amp;-DataFrame" data-toc-modified-id="Series-&amp;-DataFrame-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Series &amp; DataFrame</a></span></li><li><span><a href="#DataFrame의-기본-함수들-다루기" data-toc-modified-id="DataFrame의-기본-함수들-다루기-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>DataFrame의 기본 함수들 다루기</a></span></li><li><span><a href="#평균과-분산-구하기" data-toc-modified-id="평균과-분산-구하기-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>평균과 분산 구하기</a></span></li><li><span><a href="#데이터프레임에서의-슬라이싱" data-toc-modified-id="데이터프레임에서의-슬라이싱-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>데이터프레임에서의 슬라이싱</a></span></li><li><span><a href="#데이터프레임에서-조건에-맞는-값-가져오기" data-toc-modified-id="데이터프레임에서-조건에-맞는-값-가져오기-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>데이터프레임에서 조건에 맞는 값 가져오기</a></span></li><li><span><a href="#참고자료" data-toc-modified-id="참고자료-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>참고자료</a></span></li></ul></div>

## Pandas 불러오기
<hr style="height:5px;border:none;color:#132e4f;background-color:#132e4f;"/>

In [1]:
import numpy as np
import pandas as pd

In [2]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

## Series & DataFrame

In [3]:
df = pd.DataFrame(
    data=np.random.randn(1000,3),
    columns=['a','b','c']
)
df['d'] = np.random.randint(0, 10, size=len(df))
df

            a         b         c  d
0   -0.493479  1.448891  0.236320  2
1    0.416165  1.290173  1.174412  5
2   -2.192611  1.679275  1.676893  5
3    0.982361 -0.081161 -0.467623  1
4   -0.151015  1.185367  0.669462  2
..        ...       ...       ... ..
995 -0.274879 -0.741594  0.230504  3
996  0.361512 -0.694925 -0.287209  1
997  0.242653 -0.292524 -1.147893  1
998 -1.388845  0.472441 -0.607939  4
999  1.340310 -0.062622 -0.184027  2

[1000 rows x 4 columns]

In [4]:
df['a']

0     -0.493479
1      0.416165
2     -2.192611
3      0.982361
4     -0.151015
         ...
995   -0.274879
996    0.361512
997    0.242653
998   -1.388845
999    1.340310
Name: a, Length: 1000, dtype: float64

## DataFrame의 기본 함수들 다루기
<hr style="height:5px;border:none;color:#132e4f;background-color:#132e4f;"/>

In [8]:
df.head()

          a         b         c  d
0 -0.493479  1.448891  0.236320  2
1  0.416165  1.290173  1.174412  5
2 -2.192611  1.679275  1.676893  5
3  0.982361 -0.081161 -0.467623  1
4 -0.151015  1.185367  0.669462  2

In [9]:
df.tail()

            a         b         c  d
995 -0.274879 -0.741594  0.230504  3
996  0.361512 -0.694925 -0.287209  1
997  0.242653 -0.292524 -1.147893  1
998 -1.388845  0.472441 -0.607939  4
999  1.340310 -0.062622 -0.184027  2

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       1000 non-null   float64
 1   b       1000 non-null   float64
 2   c       1000 non-null   float64
 3   d       1000 non-null   int64
dtypes: float64(3), int64(1)
memory usage: 31.4 KB

In [11]:
df.describe()

                 a            b            c            d
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.056678     0.045461     0.045277     4.564000
std       0.956693     0.992993     1.017984     2.827348
min      -3.298852    -2.927103    -2.967293     0.000000
25%      -0.733892    -0.599549    -0.646961     2.000000
50%      -0.044856     0.019397     0.032403     5.000000
75%       0.616186     0.692545     0.769067     7.000000
max       3.131175     3.322146     3.327461     9.000000

In [15]:
df['d'].value_counts()

6    113
4    111
5    110
9    104
2    100
7     97
0     94
1     93
8     90
3     88
Name: d, dtype: int64

In [16]:
df['d'].value_counts().sort_index(ascending=True)

0     94
1     93
2    100
3     88
4    111
5    110
6    113
7     97
8     90
9    104
Name: d, dtype: int64

## 평균과 분산 구하기
<hr style="height:5px;border:none;color:#132e4f;background-color:#132e4f;"/>

In [17]:
df.mean()  # 기본적으로 모두 column 방향

a   -0.056678
b    0.045461
c    0.045277
d    4.564000
dtype: float64

In [18]:
df.var()

a    0.915261
b    0.986035
c    1.036291
d    7.993898
dtype: float64

In [19]:
df.std()

a    0.956693
b    0.992993
c    1.017984
d    2.827348
dtype: float64

In [20]:
df.mean(axis=1)  # row 방향으로

0      0.797933
1      1.970188
2      1.540889
3      0.358394
4      0.925953
         ...
995    0.553508
996    0.094845
997   -0.049441
998    0.618914
999    0.773415
Length: 1000, dtype: float64

## 데이터프레임에서의 슬라이싱
<hr style="height:5px;border:none;color:#132e4f;background-color:#132e4f;"/>

In [23]:
df

            a         b         c  d
0   -0.493479  1.448891  0.236320  2
1    0.416165  1.290173  1.174412  5
2   -2.192611  1.679275  1.676893  5
3    0.982361 -0.081161 -0.467623  1
4   -0.151015  1.185367  0.669462  2
..        ...       ...       ... ..
995 -0.274879 -0.741594  0.230504  3
996  0.361512 -0.694925 -0.287209  1
997  0.242653 -0.292524 -1.147893  1
998 -1.388845  0.472441 -0.607939  4
999  1.340310 -0.062622 -0.184027  2

[1000 rows x 4 columns]

In [22]:
df.loc[:,'a']

0     -0.493479
1      0.416165
2     -2.192611
3      0.982361
4     -0.151015
         ...
995   -0.274879
996    0.361512
997    0.242653
998   -1.388845
999    1.340310
Name: a, Length: 1000, dtype: float64

In [24]:
df.iloc[:,0]

0     -0.493479
1      0.416165
2     -2.192611
3      0.982361
4     -0.151015
         ...
995   -0.274879
996    0.361512
997    0.242653
998   -1.388845
999    1.340310
Name: a, Length: 1000, dtype: float64

In [ ]:
# df.at[]

In [25]:
df.loc[100:200,['a','b']]

            a         b
100 -0.717476 -0.327427
101  0.531379 -0.597891
102  2.678284 -1.550962
103  0.009786 -1.025126
104 -0.644189 -0.654178
..        ...       ...
196 -1.036637  0.741013
197  0.660812  1.546685
198  1.005309 -1.102807
199 -0.354314  0.721428
200  1.265050  1.027522

[101 rows x 2 columns]

## 데이터프레임에서 조건에 맞는 값 가져오기
<hr style="height:5px;border:none;color:#132e4f;background-color:#132e4f;"/>

In [27]:
df['d'] == 0

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: d, Length: 1000, dtype: bool

In [26]:
df[df['d'] == 0]

            a         b         c  d
25  -0.366173  0.098499 -0.911553  0
36   1.095140 -0.136988 -0.078262  0
44  -1.714887 -1.666095 -1.051783  0
61   0.174267  1.590093 -1.088706  0
76  -1.978550 -0.851835 -2.294622  0
..        ...       ...       ... ..
935  0.090065 -1.236290  0.791690  0
936 -0.561007 -0.586794 -0.698697  0
939 -0.193867  1.196520 -0.604595  0
955 -0.326726  0.510406  0.352540  0
963 -1.578334  2.172626 -0.205999  0

[94 rows x 4 columns]

In [28]:
df[(df['a'] > 0)&(df['d'] == 0)]  # AND

            a         b         c  d
36   1.095140 -0.136988 -0.078262  0
61   0.174267  1.590093 -1.088706  0
99   0.030412 -0.808739 -0.151409  0
139  0.709267  0.084031  0.061774  0
173  0.173282  0.033413 -0.757275  0
176  0.308901 -0.138389  0.203896  0
181  0.703867  0.714113 -1.061659  0
200  1.265050  1.027522  1.097569  0
208  1.640787  0.587106  2.399906  0
222  0.277228  0.351696 -0.253713  0
232  1.310366  0.600272  0.275254  0
235  0.292974 -1.229599  1.570718  0
248  0.510812 -0.641732 -0.169057  0
271  0.430155  1.461080 -1.342762  0
297  0.382754  0.465443  0.994688  0
314  0.299888  0.345238  1.266320  0
316  0.587428 -0.208908 -0.188764  0
338  1.674107  0.078624 -0.637332  0
349  0.470539 -0.582853 -0.212553  0
376  0.231824 -0.337136  0.575044  0
382  0.387670  0.743606 -0.785488  0
433  0.028684  0.348490 -0.278962  0
477  3.131175  0.379427  0.370695  0
480  2.184200  1.165710 -2.527143  0
498  1.196738 -0.945369  0.104946  0
508  0.358116  0.583366  0.055535  0
511  0.523737 -0.681552 -1.577934  0
555  0.982371 -0.487065  1.954262  0
565  2.233983 -0.561609  0.701076  0
587  1.242699  1.603108  0.036115  0
667  0.709488  0.957898 -1.019863  0
679  0.195909 -1.129712  0.165005  0
792  0.087243 -2.246259 -0.832842  0
802  0.188258 -0.421951  0.112049  0
803  0.006643 -1.008503 -0.921260  0
805  1.141349 -0.210551 -1.683601  0
808  1.192751 -0.425730 -1.406591  0
822  0.627256  1.922507  0.850691  0
824  0.120223 -1.705106 -0.401064  0
851  0.182785  0.868104  1.047305  0
852  0.487934 -1.145087 -0.010977  0
874  0.553658  0.161164 -0.203271  0
876  0.649405  0.310323  1.202645  0
877  0.770079  0.326970 -0.578477  0
908  1.225858 -1.981552 -0.357468  0
918  0.161925 -0.691047  1.254991  0
935  0.090065 -1.236290  0.791690  0

In [29]:
df[(df['a'] > 0)|(df['d'] == 0)]  # OR

            a         b         c  d
1    0.416165  1.290173  1.174412  5
3    0.982361 -0.081161 -0.467623  1
9    1.012470  0.072461 -1.032159  4
10   1.027994  1.543789  0.274650  9
12   0.694223  0.512845 -0.256827  2
..        ...       ...       ... ..
990  0.034068  1.080095 -1.398979  1
994  0.196339  0.378106 -0.803809  5
996  0.361512 -0.694925 -0.287209  1
997  0.242653 -0.292524 -1.147893  1
999  1.340310 -0.062622 -0.184027  2

[533 rows x 4 columns]

In [31]:
df[(df['a'] > 0)&~(df['d'] == 0)]

            a         b         c  d
1    0.416165  1.290173  1.174412  5
3    0.982361 -0.081161 -0.467623  1
9    1.012470  0.072461 -1.032159  4
10   1.027994  1.543789  0.274650  9
12   0.694223  0.512845 -0.256827  2
..        ...       ...       ... ..
990  0.034068  1.080095 -1.398979  1
994  0.196339  0.378106 -0.803809  5
996  0.361512 -0.694925 -0.287209  1
997  0.242653 -0.292524 -1.147893  1
999  1.340310 -0.062622 -0.184027  2

[439 rows x 4 columns]

## 참고자료
<hr style="height:5px;border:none;color:#132e4f;background-color:#132e4f;"/>

- https://wikidocs.net/32829

<br>

<span style="color:rgb(120, 120, 120)">본 학습 자료를 포함한 모든 자료의 저작권은 성민석에 있으며 제작자의 동의없이 외부로의 무단 복제, 배포 및 전송을 절대로 불허합니다.

<b>Copyright ⓒ 2022. Minsuk Sung. All rights reserved.</b>
</span>

<br>