![](../img/banner_day1.png)

<br>

# 1일차 실습(3) - 판다스(Pandas)

<br>
<br>
<div align='right'>강사 성민석</div>
<div align='right'>고려대학교 인공지능학과 박사과정</div>
<div align='right'>(minsuksung@korea.ac.kr)</div>

> <font color='red'><b>WARNING</b></font>: 본 컨텐츠는 **[저작권법 제25조 제2항](https://glaw.scourt.go.kr/wsjo/lawod/sjo192.do?contId=2135829&jomunNo=25)** 에 의해 강의 목적으로 이용한 저작물이 포함되어 있습니다.  
> 해당 자료를 제작자의 동의없이 <font color='red'><b>외부에 임의로 공개 및 수정하는 것을 금지</b></font>하며 이를 위반하는 경우 저작권 침해로서 관련법에 따라 처벌될 수 있으니 주의해주시기 바랍니다.

<h1>목차<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Pandas-불러오기" data-toc-modified-id="Pandas-불러오기-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Pandas 불러오기</a></span></li><li><span><a href="#Series-&amp;-DataFrame" data-toc-modified-id="Series-&amp;-DataFrame-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Series &amp; DataFrame</a></span></li><li><span><a href="#DataFrame의-기본-함수들-다루기" data-toc-modified-id="DataFrame의-기본-함수들-다루기-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>DataFrame의 기본 함수들 다루기</a></span></li><li><span><a href="#평균과-분산-구하기" data-toc-modified-id="평균과-분산-구하기-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>평균과 분산 구하기</a></span></li><li><span><a href="#데이터프레임에서의-슬라이싱" data-toc-modified-id="데이터프레임에서의-슬라이싱-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>데이터프레임에서의 슬라이싱</a></span></li><li><span><a href="#데이터프레임에서-조건에-맞는-값-가져오기" data-toc-modified-id="데이터프레임에서-조건에-맞는-값-가져오기-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>데이터프레임에서 조건에 맞는 값 가져오기</a></span></li><li><span><a href="#참고자료" data-toc-modified-id="참고자료-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>참고자료</a></span></li></ul></div>

## Pandas 불러오기
<hr style="height:5px;border:none;color:#132e4f;background-color:#132e4f;"/>

In [2]:
import numpy as np
import pandas as pd

In [3]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

## Series & DataFrame

In [20]:
df = pd.DataFrame(
    data=np.random.randn(1000,3),
    columns=['a','b','c']
)
df['d'] = np.random.randint(0, 10, size=len(df))
df

            a         b         c  d
0   -0.361312 -0.161539  0.351098  6
1    0.288500 -0.292623  0.669895  1
2    0.869809 -0.176344 -0.138502  4
3   -1.583795 -2.600143  1.374986  1
4   -1.969009 -1.252417 -0.015441  4
..        ...       ...       ... ..
995  0.354329 -1.251685  0.658151  3
996  0.539712  0.286760  0.547171  6
997 -0.899332 -0.405353  0.267945  6
998  1.349925  0.011695  0.936137  4
999  0.733247  0.834500 -0.052826  4

[1000 rows x 4 columns]

In [21]:
df['a']

0     -0.361312
1      0.288500
2      0.869809
3     -1.583795
4     -1.969009
         ...
995    0.354329
996    0.539712
997   -0.899332
998    1.349925
999    0.733247
Name: a, Length: 1000, dtype: float64

## DataFrame의 기본 함수들 다루기
<hr style="height:5px;border:none;color:#132e4f;background-color:#132e4f;"/>

In [22]:
df.head()

          a         b         c  d
0 -0.361312 -0.161539  0.351098  6
1  0.288500 -0.292623  0.669895  1
2  0.869809 -0.176344 -0.138502  4
3 -1.583795 -2.600143  1.374986  1
4 -1.969009 -1.252417 -0.015441  4

In [23]:
df.tail()

            a         b         c  d
995  0.354329 -1.251685  0.658151  3
996  0.539712  0.286760  0.547171  6
997 -0.899332 -0.405353  0.267945  6
998  1.349925  0.011695  0.936137  4
999  0.733247  0.834500 -0.052826  4

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       1000 non-null   float64
 1   b       1000 non-null   float64
 2   c       1000 non-null   float64
 3   d       1000 non-null   int64
dtypes: float64(3), int64(1)
memory usage: 31.4 KB

In [25]:
df.describe()

                 a            b            c            d
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.023729    -0.035226     0.016106     4.525000
std       1.005282     1.008567     0.978361     2.851229
min      -2.718534    -2.939301    -3.923628     0.000000
25%      -0.666667    -0.743682    -0.625394     2.000000
50%       0.008903    -0.049305     0.053289     4.000000
75%       0.690118     0.631981     0.673513     7.000000
max       3.161967     3.000261     3.045830     9.000000

In [31]:
df['d'].value_counts()

4    116
9    110
1    109
5    102
6    102
3     99
7     97
0     91
2     88
8     86
Name: d, dtype: int64

In [33]:
df['d'].value_counts().sort_index(ascending=True)

0     91
1    109
2     88
3     99
4    116
5    102
6    102
7     97
8     86
9    110
Name: d, dtype: int64

## 평균과 분산 구하기
<hr style="height:5px;border:none;color:#132e4f;background-color:#132e4f;"/>

In [26]:
df.mean()  # 기본적으로 모두 column 방향

a    0.023729
b   -0.035226
c    0.016106
d    4.525000
dtype: float64

In [27]:
df.var()

a    1.010591
b    1.017206
c    0.957191
d    8.129505
dtype: float64

In [28]:
df.std()

a    1.005282
b    1.008567
c    0.978361
d    2.851229
dtype: float64

In [29]:
df.mean(axis=1)  # row 방향으로

0      1.457062
1      0.416443
2      1.138741
3     -0.452238
4      0.190783
         ...
995    0.690199
996    1.843411
997    1.240815
998    1.574439
999    1.378730
Length: 1000, dtype: float64

## 데이터프레임에서의 슬라이싱
<hr style="height:5px;border:none;color:#132e4f;background-color:#132e4f;"/>

In [37]:
df.loc[:,'a']

0     -0.361312
1      0.288500
2      0.869809
3     -1.583795
4     -1.969009
         ...
995    0.354329
996    0.539712
997   -0.899332
998    1.349925
999    0.733247
Name: a, Length: 1000, dtype: float64

In [38]:
df.iloc[:,0]

0     -0.361312
1      0.288500
2      0.869809
3     -1.583795
4     -1.969009
         ...
995    0.354329
996    0.539712
997   -0.899332
998    1.349925
999    0.733247
Name: a, Length: 1000, dtype: float64

In [42]:
df.loc[100:200,['a','b']]

            a         b
100 -0.543223  0.108216
101 -0.284888  0.191679
102  0.327109  0.128130
103  1.429260  0.838672
104 -2.558255 -0.581190
..        ...       ...
196 -0.730982  0.579575
197  1.295539 -1.358901
198  1.402939 -0.792786
199  0.009880 -1.421151
200  0.195096  0.120103

[101 rows x 2 columns]

## 데이터프레임에서 조건에 맞는 값 가져오기
<hr style="height:5px;border:none;color:#132e4f;background-color:#132e4f;"/>

In [43]:
df[df['d'] == 0]

            a         b         c  d
17  -0.338649 -0.481860 -2.126044  0
21   0.773095 -1.036505 -0.955359  0
22   0.414102 -1.002109  0.479195  0
31  -0.426368 -1.191395  0.236144  0
56   0.645434  1.430031  0.060958  0
..        ...       ...       ... ..
946  1.126948  2.729026  1.049207  0
974  0.834002  0.713839  0.359467  0
976  1.652369 -0.265554 -0.179872  0
981 -0.514316  0.604342  0.155196  0
983  1.122709 -1.501097 -0.520160  0

[91 rows x 4 columns]

In [45]:
df[(df['a'] > 0)&(df['d'] == 0)]

            a         b         c  d
21   0.773095 -1.036505 -0.955359  0
22   0.414102 -1.002109  0.479195  0
56   0.645434  1.430031  0.060958  0
92   0.332590 -0.629383 -0.747801  0
120  1.900952 -0.682407 -1.195893  0
121  0.877090 -0.245780  0.600367  0
167  0.403494 -1.320771 -0.881206  0
170  1.478854  0.176259 -1.075208  0
212  0.738898 -0.186162  0.074379  0
228  0.661286  0.115505  0.594959  0
234  2.192265 -0.161628  0.911832  0
260  0.847986  1.318483 -0.111613  0
268  2.110865  0.750300  0.461966  0
317  1.315486 -0.285558  0.421485  0
324  0.349051 -0.328571  0.177277  0
435  0.828558  1.093218  0.232905  0
439  0.506635 -0.579960  0.685118  0
442  0.124824  0.634464 -0.787689  0
456  0.200285 -0.367240  0.312548  0
484  0.621420 -0.887205 -1.268060  0
564  0.210158 -1.297810 -0.021151  0
585  0.140563 -0.512107 -1.154449  0
622  0.344468 -2.227065  0.197272  0
637  0.035048  0.434252 -0.075110  0
641  0.469526 -0.710150  0.146124  0
651  0.121604 -0.274313  1.131947  0
687  1.969878 -1.037750  0.480567  0
738  0.967288 -1.084228  0.046988  0
747  0.385284  0.073585 -2.017011  0
756  0.838828  1.127627  0.072767  0
758  0.731035  1.248347 -2.161840  0
797  1.411997  0.554367  1.004137  0
853  2.272682  0.401078 -0.425646  0
869  0.287949  1.220077 -1.265836  0
876  0.841266  0.523182 -0.771459  0
877  1.432156  0.597308  0.967660  0
878  1.853462 -1.106961 -0.726303  0
887  0.799195 -0.357374 -0.402065  0
905  0.231137 -0.564191  0.870541  0
944  1.118502 -1.372109 -0.865562  0
946  1.126948  2.729026  1.049207  0
974  0.834002  0.713839  0.359467  0
976  1.652369 -0.265554 -0.179872  0
983  1.122709 -1.501097 -0.520160  0

## 참고자료
<hr style="height:5px;border:none;color:#132e4f;background-color:#132e4f;"/>

- https://wikidocs.net/32829

<br>

<span style="color:rgb(120, 120, 120)">본 학습 자료를 포함한 모든 자료의 저작권은 성민석에 있으며 제작자의 동의없이 외부로의 무단 복제, 배포 및 전송을 절대로 불허합니다.

<b>Copyright ⓒ 2022. Minsuk Sung. All rights reserved.</b>
</span>

<br>